.ab-color-darkgreen{
    color: $darkgreen;
}
.ab-color-darkred{
    color: $darkred;
}
.ab-color-darkblue{
    color: $darkblue;
}
.ab-color-telegram-text {
    color: $colortextblue
}
.ab-color-midarkblue{
    color: $darkmiblue;
}
.ab-color-black{
    color: $black;
}
.ab-color-white{
    color: $white !important;
}
.ab-color-white:hover{
    color: $white !important;
}

.ab-color-moutarde{
    color: #D9A21B !important;
}
.ab-color-moutarde:hover{
    color: #D9A21B !important;
}

.ab-color-greylight{
    color: $greylight !important;
}

.ab-color-turquoise{
    color:$turquoise !important;
}
.ab-color-grey-secondary{
    color: $greymihard !important;
}
.ab-background-white{
    background-color: $white;
}

.ab-background-grey{
    background-color: $greysoft;
}

.ab-background-grey-secondary{
    background-color: $greymihard;
}

.ab-background-turquoise{
    background-color: $turquoise;
}
.ab-color-softblue{
    color: $turquoise;
}

.ab-background-primary{
    background-color: $fourcolor !important;
}
.ab-color-primary{
    color: $thirdcolor;
}
.ab-background-secondary{
    background-color: $secondarycolor;
}
.ab-color-secondary{
    color: $secondarycolor;
}
.ab-color-third{
    color: $thirdcolor;
}

.ab-color-four{
    color: $fourcolor;
}
.ab-color-four-alt{
    color: #b1b8d6;
}

.ab-color-yellow{
    color: $textyellow;
}
.ab-background-third{
    background-color: $thirdcolor;
}
.ab-background-four{
    background-color: $fourcolor;
}

.ab-hr-color-four-alt{
    border-color: #acb5d3;
}
.ab-background-four-alt{
    background-color: #FAFBFC;
}

.ab-background-six{
    background-color: #bec0c3;
}

.ab-color-background-moutarde{
    background-color: #D9A21B !important;
}
.ab-color-background-moutarde:hover{
    background-color: #D9A21B !important;
}

.ab-label-moutarde{
    background-color: #D9A21B !important;
}
