#yellow_circle {
    position: relative;
    width: 504px;
    top: -223px;
    left: -47px;
}

.is-invalid {
    color: red;
    font-size: 10px;
}

.obient-ton-ticket-pc {
    position: absolute;
    top: 320px;
}

.obient-ton-ticket-mobile {
    display: none;
}

.row-div {
    height: 350px;
}

.div-button-social {
  text-decoration: none;
}

#yellow_square {
    position: relative;
    width: 386px;
    left: 28px;
    top: -36px;
}
#text_droite {
    color: white;
    position: absolute;
    left: 1194px;
    font-size: 30px;
    width: 234px;
    top: 72px;
    line-height: 33px;
}

#logo_telegame {
    position: relative;
    z-index: 0;
    top: -474px;
    width: 200px;
    left: -49px;
}

.text-social-button_telegram, .text-social-button_instagram {
    display: none;
}

@media screen and (max-width: 640px) {
    body {
        width: 100%;
    }
    .header__center {
        font-size: 10px;
    }

    .header_div {
        height: 5px;
    }

    #yellow_circle {
        position: relative;
        width: 156px;
        top: -44px;
        left: 51px;
    }

    #yellow_square {
        width: 123px;
        top: -155px;
        left: 147px;
    }

    .div-button-social {
        display:none;
    }

    .squared-div {
        height: 0px;
    }

    #text_droite {
        color: white;
        position: absolute;
        left: 289px;
        font-size: 12px;
        width: 97px;
        top: 39px;
        line-height: 12px;
    }

    #logo_telegame {
        left: -71px;
        position: relative;
        top: -25px;
        width: 80px;
        z-index: 0;
    }

    .row-div {
        height: 120px;
    }
    .obient-ton-ticket-pc {
        display:none;
    }

    .obient-ton-ticket-mobile {
        display: unset;
        position: relative;
        top: 31px;
    }

    .text-social-button_telegram, .text-social-button_instagram {
        display: unset;
    }

    .text-social-button_telegram {
        text-decoration: none;
        position: absolute;
        left: 24px;
        top: 4px;
        width: 50px;
        height: 50px;
    }
    .text-social-button_instagram {
        text-decoration: none;
        position: absolute;
        left: 27px;
        top: 68px;
        width: 50px;
        height: 50px;
    }
}

@media only screen
and (device-width: 428px)
and (device-height: 926px) {
    body {
        width: 100%;
    }

    .header_div {
        height: 5px;
    }

    #yellow_circle {
        position: relative;
        width: 185px;
        top: -44px;
        left: 54px;
    }

    #yellow_square {
        width: 120px;
        top: -187px;
        left: 167px;
    }

    .obient-ton-ticket-mobile {
        display: unset;
        position: relative;
        top: 31px;
    }

    .squared-div {
        height: 0px;
    }

    #text_droite {
        color: white;
        position: absolute;
        left: 324px;
        font-size: 12px;
        width: 98px;
        top: 35px;
        line-height: 12px;
    }

    #logo_telegame {
        position: relative;
        z-index: 0;
        top: -26px;
        width: 93px;
        left: -87px;
    }

    .row-div {
        height: 120px;
    }

    .text-social-button_telegram, .text-social-button_instagram {
        display: unset;
    }
    .text-social-button_telegram {
        text-decoration: none;
        position: absolute;
        left: 24px;
        top: 4px;
        width: 50px;
        height: 50px;
    }
    .text-social-button_instagram {
        text-decoration: none;
        position: absolute;
        left: 27px;
        top: 68px;
        width: 50px;
        height: 50px;
    }
}
@media only screen
and (device-width: 414px)
and (device-height: 896px) {
    #text_droite {
        color: white;
        position: absolute;
        left: 308px;
        font-size: 12px;
        width: 97px;
        top: 39px;
        line-height: 12px;
    }

    #yellow_square {
        width: 123px;
        top: -155px;
        left: 158px;
    }
}

@media only screen
and (device-width: 412px)
and (device-height: 915px) {
    #text_droite {
        color: white;
        position: absolute;
        left: 307px;
        font-size: 12px;
        width: 97px;
        top: 39px;
        line-height: 12px;
    }

    #yellow_square {
        width: 123px;
        top: -155px;
        left: 157px;
    }
}

@media only screen
and (device-width: 1920px)
and (device-height: 1080px) {

    #logo_telegame {
        position: relative;
        z-index: 0;
        top: -129px;
        width: 200px;
        left: -316px;
    }

    #yellow_circle {
        position: relative;
        width: 504px;
        top: -214px;
        left: 37px;
    }

    #text_droite {
        color: white;
        position: absolute;
        left: 1632px;
        font-size: 30px;
        width: 249px;
        top: 72px;
        line-height: 33px;
    }

    #yellow_square {
        position: relative;
        width: 386px;
        left: 59px;
        top: -36px;
    }
}
@media only screen
and (device-width: 375px)
and (device-height: 667px) {
    #text_droite {
        color: #fff;
        font-size: 12px;
        left: 270px;
        line-height: 12px;
        position: absolute;
        top: 39px;
        width: 97px;
    }

    #yellow_square {
        left: 137px;
        top: -155px;
        width: 123px;
    }
}
