#yellow_circle {
    position: relative;
    width: 504px;
    top: -223px;
    left: -47px;
}

.obient-ton-ticket {
    position: relative;
    top: -350px;
}
.row-div {
    height: 350px;
}

.div-button-social {
  text-decoration: none;
}

#yellow_square {
    position: relative;
    width: 386px;
    left: 28px;
    top: -36px;
}
#text_droite {
    color: white;
    position: absolute;
    left: 1194px;
    font-size: 30px;
    width: 234px;
    top: 72px;
    line-height: 33px;
}

#logo_telegame {
    position: relative;
    z-index: 0;
    top: -474px;
    width: 200px;
    left: -49px;
}

.text-social-button_telegram, .text-social-button_instagram {
    display: none;
}

@media screen and (max-width: 640px) {
    body {
        width: 100%;
    }
    .header__center {
        font-size: 10px;
    }

    .header_div {
        height: 5px;
    }

    #yellow_circle {
        position: relative;
        width: 156px;
        top: -44px;
        left: 51px;
    }

    #yellow_square {
        /* position: relative; */
        width: 98px;
        /* height: 152px; */
        top: -155px;
        left: 158px;
    }

    .div-button-social {
        display:none;
    }

    .squared-div {
        height: 0px;
    }

    #text_droite {
        color: white;
        position: absolute;
        left: 309px;
        font-size: 10px;
        width: 77px;
        top: 29px;
        line-height: 10px;
    }

    #logo_telegame {
        position: relative;
        z-index: 0;
        top: -36px;
        width: 80px;
        left: -73px;
    }

    .row-div {
        height: 120px;
    }
    .obient-ton-ticket {
        position: relative;
        top: -44px;
    }

    .text-social-button_telegram, .text-social-button_instagram {
        display: unset;
    }

    .text-social-button_telegram {
        text-decoration: none;
        position: absolute;
        left: 24px;
        top: 4px;
        width: 50px;
        height: 50px;
    }
    .text-social-button_instagram {
        text-decoration: none;
        position: absolute;
        left: 27px;
        top: 68px;
        width: 50px;
        height: 50px;
    }
}

@media only screen
and (device-width: 428px)
and (device-height: 926px) {
    body {
        width: 100%;
    }
    .header__center {
        font-size: 10px;
    }

    .header_div {
        height: 5px;
    }

    #yellow_circle {
        position: relative;
        width: 156px;
        top: -44px;
        left: 51px;
    }

    #yellow_square {
        /* position: relative; */
        width: 98px;
        /* height: 152px; */
        top: -155px;
        left: 179px;
    }

    .squared-div {
        height: 0px;
    }

    #text_droite {
        color: white;
        position: absolute;
        left: 346px;
        font-size: 10px;
        width: 77px;
        top: 29px;
        line-height: 10px;
    }

    #logo_telegame {
        position: relative;
        z-index: 0;
        top: -28px;
        width: 71px;
        left: -68px;
    }

    .row-div {
        height: 120px;
    }

    .text-social-button_telegram, .text-social-button_instagram {
        display: unset;
    }
    .text-social-button_telegram {
        text-decoration: none;
        position: absolute;
        left: 24px;
        top: 4px;
        width: 50px;
        height: 50px;
    }
    .text-social-button_instagram {
        text-decoration: none;
        position: absolute;
        left: 27px;
        top: 68px;
        width: 50px;
        height: 50px;
    }
}
