// 1. Your custom variables and variable overwrites.
$global-link-color: #FFF;
$turquoise:#009CC5;
$black:#000;
$white:#fff;
$whitegrey:#ffffffcc;
$darkgreen: darkgreen;
$softgreen: #7DB721;
$darkred: darkred;
$darkblue: darkblue;
$darkmiblue: #0062a8;
$softblue: #278AC5;
$greysoft: #fafafa;
$greymisoft: rgba(255, 255, 255, 0.6);
$greymihard:#666666;
$greylight:#333;
$greyultralight:#e5e5e5;
$primarycolor:#8a9bbe;
$secondarycolor:#EEF2FA;
$textyellow:#999900;
$thirdcolor:#1A1F34;
$fourcolor:#005B5D;
$colortextblue:#3EA0E1;

$-webkit-calc-outer-space: -webkit-calc((100% - 1024px) / 2);
$calc-outer-space: calc((100% - 1024px) / 2);

$fontConcert:Concert One;
$fontPeace:Peace Sans;
