{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5" style="text-align: left; color: white; font-size: 12px">
        <h2 style="color: white">Conditions générales d'utilisation</h2>
        <p>Dernière mise à jour : [06 février 2022]</p>
        <p>Les présentes conditions générales ont pour objet de définir les conditions dans lesquelles la société TELEGAME, (ci-après " la Société ") éditrice du site telegame.fr (ci-après " le Site "), met à votre disposition une plateforme de jeu de tirage au sort en ligne sur laquelle vous pouvez participer à un jeu suivant le principe de la tombola de façon mensuelle, avec la possibilité de gagner des lots diverses et variés.</p>
        <h6 style="color: orange;">Article 1 - Acceptation des Conditions Générales</h6>
        <p>Pour pouvoir s'inscrire et jouer sur le Site, vous devez avoir accepté expressément et irrévocablement les présentes Conditions en cochant la case prévue à cet effet sur le Site. Vous déclarez et reconnaissez ainsi avoir lu et accepté les présentes Conditions. La Société se réserve la possibilité de modifier les présentes Conditions. Vous serez informé des modifications pour vous permettre d'en prendre connaissance et de les accepter.</p>

        <p>Pour pouvoir jouer au tirage Telegame, vous déclarez et reconnaissez avoir lu et accepté le règlement.</p>

        <p>Vous devez également avoir pris connaissance de la Politique de confidentialité de Telegame.</p>
        <h6 style="color: orange;">Article 2 - Modalités d'inscription et engagements du joueur</h6>
        <h6 style="color: white;">2.1 Création du compte provisoire</h6>
        <br>
        <h6 style="color: white;">Conditions d’inscription</h6>
        <br>
        <p>L'utilisation du Site suppose que vous vous inscriviez préalablement en utilisant le formulaire en ligne prévu à cet effet. En l'absence de compte créé, il est impossible de jouer sur le Site.</p>

        <p>Seule une personne physique majeure peut jouer sur le Site.</p>

        <p>Vous ne devez disposer que d'un seul compte actif.</p>

        <h6 style="color: white;">Modalités d'inscription</h6>
        <p>Vous devez renseigner les données personnelles suivantes : nom, pseudonyme Telegram, adresse électronique. Vous devez également définir le nombre de ticket de participation dont vous souhaitez faire l’acquisition.</p>

        <p>Toute donnée communiquée par vos soins l'est sous votre unique et entière responsabilité et ne peut en aucune manière engager la responsabilité de la Société.</p>

        <p>Quelque soit le pays dans lequel vous résidez, Il vous appartient de vérifier que la législation de votre pays vous autorise à vous inscrire et jouer sur notre site.</p>

        <p>La Société se réserve le droit d'interdire l'utilisation de pseudonymes et/ou d’avatars qu'elle juge inappropriés, notamment ceux présentant un caractère politique, raciste, pornographique, insultant, violent, faisant l'apologie de la drogue et/ou des armes.</p>

        <p>Une fois les informations saisies, un email vous est envoyé, contenant la confirmation de l’obtention de votre/vos ticket(s) de participation.</p>

        <h6 style="color: white;">2.2 Validation définitive du compte</h6>
        <br>
        <h6 style="color: white;">Vérifications des informations par la Société</h6>
        <p>La Société accuse réception des informations que vous lui avez transmis et procède à toute vérification utile pour s'assurer de la réalité des données renseignées sur le formulaire d'inscription en ligne.</p>
        <h6 style="color: white;">2.3 Fonctionnement du compte</h6>
        <br>
        <h6 style="color: white;">Précautions de connexion</h6>
        <p>Vous devez toujours vous assurer que les liens qui prétendent vous diriger vers les pages de telegame.fr le font réellement. La fenêtre d'adresse de votre navigateur doit commencer par https://www.telegame.fr/ pour que la connexion soit sécurisée (vérifiez la présence du cadenas sur votre écran avant d'écrire). Tout autre libellé d'adresse ne provient pas de la Société.</p>

        <p>À chaque participation sur le Site, il vous sera demandé votre nom, pseudonyme Telegram, adresse électronique, et le nombre de ticket que vous souhaitez obtenir qui sont instantanément vérifiés avec les données enregistrées lors de la création de votre compte.
        La participation prend la forme d’un abonnement mensuel égal au premier règlement, permettant au joueur, de participer à tous les prochains tirages en ligne et augmentant donc ses chances d’être sélectionner pour l’obtention des futurs lots physiques ou digitaux.
        L’arrêt de cet abonnement est possible à tout moment en faisant votre demande via e-mail à l’adresse électronique suivante: telegame.contact@gmail.com.
            L’arrêt de l’abonnement sera immédiatement effectif au moment de la prise en compte de la demande par un membre de l’équipe de la Société.</p>

        <p>Toute connexion avec vos identifiants sera réputée faite par vous-même. Vous devez veiller à fermer le Site à la fin de chaque session et prendre toutes les précautions nécessaires à la confidentialité de vos données personnelles. Toute remise volontaire de vos identifiants à un tiers entraînera la clôture de votre compte et l'exclusion du Site.</p>

        <p>La Société ne peut en aucune manière voir sa responsabilité engagée en cas d'utilisation du Site par un tiers au moyen de vos données personnelles.</p>


        <p>Vous devez informer immédiatement la Société de toute utilisation non autorisée de vos données confidentielles. Votre compte sera alors immédiatement désactivé et une enquête du support client sera diligentée.</p>
        <h6 style="color: white;">Règlements entre votre compte définitif et votre compte bancaire</h6>
        <br>
        <p>Vous devez être l'auteur des règlements sur votre compte joueur.</p>
        <p>Si vous choisissez de procéder à un règlement sur votre compte joueur au moyen du Service PayPal, vous devez remplir vos informations dans les espaces prévus à cet effet et vous connecter à votre copte PayPal personnel pour effectuer l’action du règlement. Vous ne devez pas transmettre vos informations à un autre utilisateur.</p>

        <p>Pour les participations via carte bancaire, le compte bancaire doit être ouvert à votre nom auprès d'un prestataire de services de paiement établi dans un état membre de l’Union Européenne ou un état partie à l'accord sur l'Espace économique européen ayant conclu avec la France une convention contenant une clause d'assistance administrative en vue de lutter contre la fraude et l'évasion fiscales.</p>

        <p>Pour tous règlements via crypto-monnaies, veuillez simplement suivre les informations fournies lors de votre participation, sans oublier de fournir le justificatif de paiement sous format image pour qu’un agent de la société Telegame procède à la vérification de la transaction. Si une erreur a été commise lors de la saisis de l’adresse ou de la sélection du réseau, la Société ne peut pas être tenu pour responsable et votre participation ne sera pas retenue. De même, sans ce justificatif, la Société se réserve le droit de ne pas prendre en compte la participation du joueur.</p>
        <h6 style="color: orange;">Article 3 - Risques liés au jeu et mécanismes de prévention</h6>
        <br>
        <p>Le Site est conçu à des fins de divertissement et pour votre usage personnel.</p>
        <p>Vous reconnaissez que le jeu est une activité incertaine qui peut entraîner des pertes d'argent.</p>
        <p>Vous êtes invité à prendre régulièrement connaissance des mises en garde sur les risques du jeu d'argent présentes sur le Site.</p>

        <p>La Société vous déconseille de jouer sur le Site si, à un quelconque moment, une quelconque forme de trouble de jeu compulsif ou d'addiction a été décelée chez vous.</p>

        <p>Afin de prévenir les risques liés au jeu, la Société a mis en place les mécanismes d'information, d'autolimitation et d'auto-exclusion suivants :        </p>

        <ul>
            <li>vous devez définir le montant maximum de vos règlements, vous pouvez également définir
                ce montant, sur une périodicité quotidienne et/ou mensuelle ;</li>
            <li>vous pouvez demander à être exclu du Site, pour une période comprise entre 24 heures et
                12 mois.</li>
        </ul>
        <p>De même, vous êtes invité à tout moment, à consulter les pages dédiées au jeu responsable. Vous pourrez ainsi vous informer des risques liés au jeu excessif. Vous pourrez remplir un questionnaire qui vous permettra de tester votre sensibilité au jeu excessif, voire sur les signes de votre comportement qui dénotent déjà un problème de jeu pathologique.</p>

        <p>Enfin, nous vous rappelons que vous pouvez vous faire aider par un psychologue professionnel. Un service d'information et d'assistance contre le jeu excessif ou pathologique est accessible aux joueurs et à leur entourage. Les coordonnées de ce service sont indiquées sur le Site. La Société soutient le jeu responsable et il est possible de consulter des pages d'information détaillées sur le Site.</p>

        <p>La Société se réserve le droit d'adresser à tout moment aux joueurs des messages de mise en garde des risques liés au jeu excessif ou pathologique, de fixer des limites de jeu et de suspendre temporairement ou définitivement le compte d’un joueur si elle l’estime nécessaire.</p>
        <h6 style="color: orange;">Article 4 - Activités frauduleuses</h6>
        <br>
        <p>La Société s'engage à assurer un jeu équitable et à lutter contre toute activité frauduleuse. Elle se réserve le droit de clôturer le compte d'un joueur coupable de telles activités.</p>

        <p>Sans renoncer à d'autres voies de recours, la Société peut immédiatement émettre un avertissement, suspendre temporairement ou indéfiniment, et/ou résilier l'accès et son utilisation du Site, si un joueur :</p>
        <ul>
            <li>viole un quelconque terme des présentes Conditions Générales ;</li>
            <li>ouvre plus d'un compte joueur sur le Site ;</li>
            <li>met son compte joueur à disposition d’une tierce personne ;</li>
            <li>se rend coupable de toute forme de fraude, de collusion, de tricherie ;</li>
            <li>utilise une carte bancaire volée ou falsifiée, ou des documents d'identité volés ou falsifiés.</li>
            <li>se connecte au Site en utilisant un VPN (Virtual Private Network - réseau privé virtuel)</li>
        </ul>

        <p>Le Site dispose de plusieurs moyens pour déceler, empêcher, sanctionner ce type d'activités :</p>
        <ul>
            <li>Un service de surveillance humaine gère les réclamations de joueurs s'estimant victimes d'activités frauduleuses, de collusion ou de tricherie de la part d'autres joueurs. Ce service procède à des vérifications, des analyses et enquêtes, aléatoires ou sur demande, des historiques des précédents tirages au sort (dont les données sont systématiquement et intégralement conservées par le Site).</li>
            <li>Un système d'alertes, établi par les experts du Site sur un grand nombre de critères, permettant de déceler des modes possibles de tricherie.
            </li>
        </ul>
        <p>En cas de suspicion ou de démonstration de fraude, collusion ou tricherie, le Site, selon la gravité de la faute, procède à l'avertissement, à la suspension, à l'exclusion (temporaire ou définitive) du ou des joueurs concernés.</p>

        <p>En tout état de cause, en cas de fermeture de votre compte par la Société en raison d'une violation des présentes Conditions Générales, vous perdez vos droits sur les bonus ou toute autre offre promotionnelle qui vous auraient été consentis.</p>

        <p>La Société se réserve le droit de réclamer la restitution des gains obtenus de manière frauduleuse, ainsi que les sommes déposées ayant permis de générer ces gains.</p>
        <h6 style="color: orange;">Article 5 - Lutte contre le blanchiment</h6>
        <p>La Société met en œuvre différents moyens pour lutter contre le blanchiment d'argent par l'intermédiaire du Site :</p>
        <ul>
            <li>impossibilité pour les joueurs de transférer de l'argent entre eux,</li>
            <li>interdiction de la méthode appelée « chip-dumping » par laquelle un joueur pourrait volontairement perdre de l'argent au profit d'un autre joueur. Le Site utilise tous les moyens humains et technologiques les plus avancés pour déceler et empêcher ces comportements.</li>
        </ul>

        <p>En cas de soupçon de blanchiment, la Société bloque les comptes des joueurs concernés le temps de diligenter toutes les enquêtes nécessaires et d'avertir, le cas échéant, les autorités compétentes. À l'issue desdites vérifications, et en l'absence de blanchiment, les sommes figurant sur les comptes bloqués sont reversées aux joueurs concernés.</p>
        <h6 style="color: orange;">Article 6 - Contrôle de sécurité</h6>
        <p>Afin de maintenir un niveau élevé de sécurité et d'intégrité, la Société se réserve le droit d'effectuer un contrôle de sécurité à tout moment vos données d'enregistrement. Afin de faciliter les contrôles de sécurité, vous vous engagez à fournir les informations et les documents demandés par la Société. À défaut de fournir une réponse satisfaisante à la Société, cette dernière se réserve le droit de clôturer votre compte.</p>
        <h6 style="color: orange;">Article 7 - Autres réseaux sociaux</h6>
        <p>Lorsque vous communiquez avec d'autres joueurs sur les réseaux sociaux du Site, vous vous engagez à ne tenir aucun propos discriminatoire, offensant, raciste, violent, impoli ou illégal ou violant les droits de tout tiers.</p>

        <p>Il vous est également interdit d'utiliser le Site à des fins commerciales (messages commerciaux ou publicités indésirables).</p>

        <p>La Société se réserve le droit d’exclure tout joueur violant le présent article. Cette exclusion pourra entraîner la clôture, temporaire ou définitive, du compte du joueur.</p>
        <h6 style="color: orange;">Article 8 - Procédure de réclamation gratuite mise en place par la Société au profit des joueurs</h6>
        <p>Si vous souhaitez formuler une réclamation, de quelque nature que ce soit (fonctionnement du Site, fonctionnement de votre compte, agressivité d'un joueur sur le forum, etc..) vous pouvez écrire gracieusement par mail au support à l'adresse suivante : telegame.contact@gmail.com</p>

        <p>Dès réception d'une réclamation, un dossier de réclamation est ouvert et un numéro lui est affecté.</p>
        <p>Le Support Client suivra le dossier jusqu'à sa complète résolution. À l'issue de sa résolution, le dossier est clôturé et archivé.</p>
        <h6 style="color: orange;">Article 9 - Données personnelles et politique de confidentialité</h6>
        <p>Telegame s'engage, dans le cadre de son activité et conformément à la législation en vigueur en France et en Europe, en particulier le Règlement général sur la protection des données de l’UE (« RGPD »), à garantir la protection, la confidentialité et la sécurité des données personnelles des utilisateurs de notre site.</p>

        <h6 style="color: orange;">Article 10 - Force majeure</h6>
        <p>La Société ne peut pas être tenue pour responsable de toute interruption de fonctionnement du Site due à un cas de force majeure, notamment, mais non limitativement : les catastrophes naturelles, telles que les incendies, les inondations, les tremblements de terre, les ouragans, les tempêtes tropicales ou autres ; la guerre, l'insurrection, les incendies volontaires, les embargos, les actes des autorités civiles ou militaires, ou le terrorisme ; les coupures de fibre optique, les grèves, ou des pénuries de moyens de transport, d'infrastructures, de carburant, d'énergie, de main d'œuvre ou de matériaux ; la panne des infrastructures fournissant les services de télécommunications et d'informations ; le piratage (hacking).</p>
    </div>
{% endblock %}
