
<div id="footer" class="mt-5">
    <div class="uk-container">
        <hr class="ab-hr-footer"/>
    </div>
    <div>
        <div class="uk-container ab-footer-content uk-padding-small">
            <div class="mb-2">
                <a href="https://t.me/telegamefr" target="_blank" class="ab-button-next-form m-1 p-2 text-white" style="text-decoration: none;"><img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" width="30" alt="telegram_logo"/> &nbsp;rejoindre le canal</a>
                <a style="text-decoration: none;" href="https://www.instagram.com/telegame_fr/?hl=fr" target="_blank" class="text-white ab-button-next-form m-1 p-2"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" width="30" alt="instagram_logo" /> &nbsp;suivre instagram</a>
            </div>

            <ul class="footer-ul">
                <li class="footer-copy uk-align-center">
                    <a href="" class="footer-link-secodary uk-text-meta text-white">© 2022 TELEGAME. Tous droits réservés.</a>
                </li>
            </ul>
        </div>
    </div>
</div>
