<svg class="position-relative wave-footer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#348ed0" fill-opacity="1" d="M0,160L80,149.3C160,139,320,117,480,133.3C640,149,800,203,960,218.7C1120,235,1280,213,1360,202.7L1440,192L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
<div class="position-relative">
    <div class="uk-container ab-footer-content uk-padding-small">
        <div class="mb-2 row justify-content-around">
            <a href="https://t.me/telegamefr" target="_blank" class="col-lg-3 ab-button-next-form m-1 mr-2 p-2 text-white social-button-footer">
                <img src="{{ asset('build/images/Telegram_2019_Logo.svg.png') }}" class="position-absolute footer-network-position-telegram" width="30" alt="telegram_logo" /> &nbsp;<span class="text-social-button">&nbsp; &nbsp;rejoindre le canal &nbsp;</span></a>
            <a href="https://www.instagram.com/telegame_fr/?hl=fr" target="_blank" class="col-lg-3 text-white social-button-footer ab-button-next-form m-1 p-2">
                <img src="{{ asset('build/images/instagram.png') }}" width="30" alt="instagram_logo"
                     class="position-absolute footer-network-position-instagram" /> <span class="text-social-button">&nbsp; &nbsp;suivre instagram</span></a>
        </div>

        <ul class="footer-ul">
            <li class="footer-copy uk-align-center mt-5">
                <a href="#" class="footer-link-secodary uk-text-meta ab-color-telegram-text">© 2022 TELEGAME. <br>Tous droits réservés.</a><br>
                <a href="{{ path('front_conditions_generales')}}" class="footer-link-secodary uk-text-meta ab-color-telegram-text">Conditions générales d'utilisations.</a>
            </li>
        </ul>
    </div>
</div>
