<svg xmlns="http://www.w3.org/2000/svg" fill="none" preserveAspectRatio="none" viewBox="0 0 1680 40" class="ab-hero-shape-bottom" style="transform: scaleY(-1);"><path d="M0 40h1680V30S1340 0 840 0 0 30 0 30z" fill="#FAFBFC"></path></svg>

<div id="footer">
    <div class="uk-container">
        <hr class="ab-hr-footer"/>
    </div>
    <div>
        <div class="uk-container yk-footer-content uk-padding-small">
            <ul class="footer-ul">
                <li class="footer-copy">
                    <a href="" class="footer-link-secodary uk-text-meta">© 2022 TELEGAME. Tous droits réservés.</a>
                </li>
                <li class="footer-copy">
                    <a href="" class="footer-link-secodary uk-text-meta">Luxury Invest - Investment - Copyright </a>
                </li>
            </ul>
        </div>
    </div>
</div>
