<header id="header-card">
    <div class="row row-div" style="width: 100%">
        <div class="col-lg-4 mt-5 div-button-social">
            <div class="m-3">
                <a href="https://t.me/telegamefr" target="_blank" class="ab-button-next-form m-2 p-2 div-button-social"><img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" width="30" alt="telegram_logo" /> &nbsp;<span class="text-social-button">rejoindre le canal</span></a>
            </div>
            <div class="m-3">
                <a href="https://www.instagram.com/telegame_fr/?hl=fr" target="_blank" class="ab-button-next-form m-1 p-2 div-button-social"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" width="30" alt="instagram_logo" /> &nbsp; <span class="text-social-button">suivre instagram</span></a>
            </div>
        </div>
        <div class="col-lg-5">
            <img src="{{ asset('build/images/rond_jaune.png') }}" alt="yellow_circle" id="yellow_circle">
            <img src="{{ asset('build/images/image0.389e1ba3.png') }}" id="logo_telegame" alt="binance_coin"/>
        </div>
        <div class="col-lg-3 squared-div">
            <img src="{{ asset('build/images/carre_jaune.png') }}" alt="yellow_circle" id="yellow_square">
            <p id="text_droite" class="col-1" style="text-align: end">Le nouveau jeu telegram en vogue</p>
        </div>
        <div>
            <a href="https://t.me/telegamefr" target="_blank" class="ab-button-next-form m-2 p-2 text-social-button_telegram"><img src="https://img.icons8.com/color/48/000000/telegram-app--v1.png" width="30" alt="telegram_logo" /> &nbsp;</a>
        </div>
        <div>
            <a href="https://www.instagram.com/telegame_fr/?hl=fr" target="_blank" class="ab-button-next-form m-1 p-2 text-social-button_instagram"><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" width="30" alt="instagram_logo" /> &nbsp;</a>
        </div>
    </div>
    <div>
        <img src="{{ asset('build/images/text_header_center.png') }}" alt="text" >
    </div>


</header>
