<div id="header-card" class="uk-section p-5">
    <div slot="media-top" class="mb-4">
        <img src="{{ asset('build/images/image0.389e1ba3.png') }}" alt="binance_coin"/>
    </div>
    <div class="header__center text-white" style="font-size: 18px">ACHÈTE TES TICKETS <br>
        ET GAGNE DES CENTAINES DE CADEAUX EXCEPTIONNELLE
    </div>
</div>
